:root{
    --page-1-color: teal;
    --page-2-color:tan;
    --page-3-color:steelblue;
    --page-4-color:slateblue;
    --animate-speed:2s;
}

*
{
    padding:0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    overflow: hidden;
}

/* page-colors */
#page-1{background:var(--page-1-color)}
#page-2{background:var(--page-2-color)}
#page-3{background:var(--page-3-color)}
#page-4{background:var(--page-4-color)}
 
.page
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}
 
.page h1{
    line-height: 1.2;
    font-size: 4rem;
    margin: 1rem;
}

.page p{
    font-size: 1.3rem;
}

.btn
{
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3 ease-in;
}
      
.btn:hover, .btn-dark{
    color: #fff;
    background:#333;
}

.btn-dark:hover{
    color: #333;
    background: #f4f4f4;
}

/* page animatiom */
#page-1 h1{
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}
#page-1 p{
    transform: translateX(-1800px);
    animation: heading var(--animate-speed) forwards ease-in 2s;
}

/* animation */
@keyframes heading 
{
  to 
  {
      transform: translateY(0);
  }
}
@keyframes text
{
  to 
  {
      transform: translateX(0);
  }
}
